.col-print-6 {
    width: 50%;
    float: left;
    height: 600px;
}

.page-break-clear {
    clear: both;
}

.page-break {
    page-break-after: always;
    /* depreciating, use break-after */
    break-after: page;
    height: 0px;
    display: block !important;
}

.qr-code canvas {
    margin: 0 auto;
    width: 100px;
    height: 100px;
}
.single-qr{
    text-align:center;
    display:none;
}



table {
    text-align: center;
    width: 100%;
}

html,
body {
    height: 100%
}

.vaccine-form table{
    text-align: left;
}

#page-2,#page-3,#page-4, #page-2a{
    display:none;
}

/*Stickers page*/
.stickers{
    margin-top:8px;
}
.stickers .qr-code canvas {
    width: 40px;
    height: 40px;
}

.stickers html{
    font-size:0.8em;
}

.patientName{
    font-weight:bold;
    margin-bottom:0;
    padding-top:10px;
}
.stickers .col-sm-4 {
    padding-left: 30px;
    height: 265px;
    max-height: 265px;
}
.sticker-qrs{
    margin-top:8px;
    font-size: 0.8em;
}
.second-dose{
    text-align: left;
}
.semi-bold{
    font-weight: 500;
}